body{
    background: #d9d9d9;
    background-size: 100% auto;
    font-family: "Source Han Sans CN Normal";
}

svg{
    position: absolute;
    z-index: 0;
}

svg line{
    stroke: #fec303;
    stroke-width: 23px;
}

.dropdown-hide{
    display: none;
}

@media screen and (max-width: 768px){
    section.scrollable.slimScrollBar{
        display: inherit !important;
    }
}

@media screen and (min-width: 520px){
    .show-tiny {
        display: none !important;
    }
    .hidden-tiny {
        display: inherit;
    }
    .tiny-left,
    .tiny-right{
        float: none;
    }
}

@media screen and (max-width: 520px) {
    .show-tiny {
        display: inherit;
    }
    .hidden-tiny {
        display: none !important;
    }
    .tiny-left{
        float: left;
    }
    .tiny-right{
        float: right;
    }
}